<div class="d-flex justify-content-center position-relative m-3">
    <div *ngFor="let item of imagesSportsUrl" class="align-self-center ">
        <img [src]="item" alt="Image" class="float-start img-fluid w-100 p-3 zoom-image">
    </div>
</div>

<div class="mt-5 m-3">
    <mat-card class="d-flex justify-content-center position-relative p-2 shadow-lg mb-5">
        <mat-card-title class="text-left mt-4 px-4 fs-2">Un Poco Más Acerca De Nosotros</mat-card-title>
        <mat-card-header>
          <mat-card-content>
            <p class="text-left fs-6" > Somos una familia apasionada por el deporte, creemos fielmente que la actividad física es una práctica que nos ayuda a crecer como personas disciplinadas, fuertes y constantes. <br>
             Nos encargamos de mejorar la vida de las personas ofreciendo calidad en nuestros productos y servicios. <br>
            Contamos con más de 10 años de experiencia en el mercado y los mejores precios.</p>
          </mat-card-content>
        </mat-card-header>
      </mat-card>

      <mat-card class="d-flex justify-content-center p-2 shadow-lg mb-5 ml-4 p-4 container">
        <mat-card-title class="text-center mt-4 fs-2 mb-4">¿Porque elegirnos?</mat-card-title>
        <mat-card-content  class="d-flex justify-content-center mb-5">
            <mat-card mat-menu-item *ngFor="let item of comValues" class="example-card h-50 w-100 mx-1 zoom-image">
                <mat-card-header>
                  <mat-card-title>{{item.viewValue}}</mat-card-title>
                  <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-start position-relative p-2 mb-5 m-3 container">
                <mat-icon>{{item.icon}}</mat-icon>
                </mat-card-content>
              </mat-card>   
      </mat-card-content>
      </mat-card>
      
      <h3 class="text-center ">Contáctenos</h3>
      <div class="d-flex justify-content-center m-0">
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Teléfono</span>
          <span matListItemLine>+506 60235216</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Horario de Atención</span>
          <span matListItemLine>L-V 7:00 A 3:30</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Correo Electronico</span>
          <span matListItemLine>user&#64;example.com</span>
        </mat-list-item>
      </mat-list>
      </div>

</div>