/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Poetsen One", sans-serif; }

@font-face {
    font-family: "Poetsen One", sans-serif;;
    src: url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap') format('truetype');
}
 
* {
    font-family: GontserratB;
}
 
  
