<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <!--
      <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>
  

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <!--
      <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        Password must be at least 6 characters long.
      </mat-error>
      -->
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" (click)="generateAllProducts()">Login</button>
  </form>
  
